In [54]:
import pandas as pd
import plotly_express as px
import ipywidgets

In [55]:
df = pd.read_csv('data.csv',sep=";")

In [56]:
ids = df['Id'].unique()

In [57]:
df.columns

Index(['Id', 'Date_JJMMAA HH:MM', 'Comptage', 'Status', 'Nom', 'Usager',
       'Photo', 'Date_JJMMAA'],
      dtype='object')

In [58]:
df['Date_JJMMAA HH:MM'].str.split('+').str[0]

0         2024-02-06T23:00:00
1         2024-02-06T23:00:00
2         2024-02-06T23:00:00
3         2024-02-06T23:00:00
4         2024-02-06T23:00:00
                 ...
383849    2022-01-01T00:00:00
383850    2022-01-01T00:00:00
383851    2022-01-01T00:00:00
383852    2022-01-01T00:00:00
383853    2022-01-01T00:00:00
Name: Date_JJMMAA HH:MM, Length: 383854, dtype: object

In [59]:
df['Time'] = pd.to_datetime(df['Date_JJMMAA HH:MM'].str.split('+').str[0],format="%Y-%m-%dT%H:%M:%S")
df['Date'] = pd.to_datetime(df['Date_JJMMAA'])

In [61]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.day_of_week
   
df['Hour'] = df['Time'].dt.hour

In [62]:
df

,Id,Date_JJMMAA HH:MM,Comptage,Status,Nom,Usager,Photo,Date_JJMMAA,Time,Date,Year,Month,DayOfWeek,Hour
0,300033642,2024-02-06T23:00:00+01:00,36,raw,Eco 24 - Pont Corneille ROUEN,Vélo,https://filer.eco-counter-tools.com/file/67/18...,2024-02-06,2024-02-06 23:00:00,2024-02-06,2024,2,1,23
1,100007116,2024-02-06T23:00:00+01:00,1,raw,Eco 08 - Avenue de l'Europe MONT ST AIGNAN,Vélo,https://filer.eco-counter-tools.com/file/7d/83...,2024-02-06,2024-02-06 23:00:00,2024-02-06,2024,2,1,23
2,100018293,2024-02-06T23:00:00+01:00,2,raw,Eco 11 - Rue Petites Eaux du Robec ROUEN,Vélo,https://filer.eco-counter-tools.com/file/7c/3f...,2024-02-06,2024-02-06 23:00:00,2024-02-06,2024,2,1,23
3,100018294,2024-02-06T23:00:00+01:00,0,raw,Eco 12 - Rue de la Foret VAL DE LA HAYE,Vélo,https://filer.eco-counter-tools.com/file/da/73...,2024-02-06,2024-02-06 23:00:00,2024-02-06,2024,2,1,23
4,100019265,2024-02-06T23:00:00+01:00,0,raw,Eco 04 - Zénith GRAND QUEVILLY,Vélo,https://filer.eco-counter-tools.com/file/f1/c9...,2024-02-06,2024-02-06 23:00:00,2024-02-06,2024,2,1,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383849,100018294,2022-01-01T00:00:00+01:00,0,raw,Eco 12 - Rue de la Foret VAL DE LA HAYE,Vélo,https://filer.eco-counter-tools.com/file/da/73...,2022-01-01,2022-01-01 00:00:00,2022-01-01,2022,1,5,0
383850,100005525,2022-01-01T00:00:00+01:00,0,raw,Eco 06 - Rue de la Prevotiere BOIS GUILLAUME,Vélo,https://filer.eco-counter-tools.com/file/3f/51...,2022-01-01,2022-01-01 00:00:00,2022-01-01,2022,1,5,0
383851,100048215,2022-01-01T00:00:00+01:00,2,raw,Eco 18 - Avenue Jacques Cartier ROUEN,Vélo,https://filer.eco-counter-tools.com/file/b8/26...,2022-01-01,2022-01-01 00:00:00,2022-01-01,2022,1,5,0
383852,100019265,2022-01-01T00:00:00+01:00,0,raw,Eco 04 - Zénith GRAND QUEVILLY,Vélo,https://filer.eco-counter-tools.com/file/f1/c9...,2022-01-01,2022-01-01 00:00:00,2022-01-01,2022,1,5,0
383853,100007115,2022-01-01T00:00:00+01:00,0,raw,Eco 07 - Sente des Forrieres BOIS GUILLAUME,Vélo,https://filer.eco-counter-tools.com/file/d4/f7...,2022-01-01,2022-01-01 00:00:00,2022-01-01,2022,1,5,0

In [63]:
def plot(name):
    data = df.loc[df['Nom']==name,['Time','Date','Comptage','Nom']]
    return px.line(x=data['Time'],y=data['Comptage'],title=name,height=800)

In [64]:
ipywidgets.interact(plot,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …

In [65]:
def plot_comptage_jour(name):
    data = df.loc[df['Nom']==name,['Date','Comptage']]
    data = data.groupby('Date').sum()
    data = data.reset_index()
    return px.line(x=data['Date'],y=data['Comptage'],title=name,height=500)

In [66]:
ipywidgets.interact(plot_comptage_jour,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …

In [67]:
def plot_comptage_jour_de_la_semaine(name):
    data = df.loc[df['Nom']==name,['DayOfWeek','Comptage']]
    data = data.groupby('DayOfWeek').mean()
    data = data.reset_index()
    return px.bar(x=data['DayOfWeek'],y=data['Comptage'],title=name,height=500)

In [68]:
ipywidgets.interact(plot_comptage_jour_de_la_semaine,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …

In [69]:
def plot_moyenne_horaire(name):
    data = df.loc[df['Nom']==name,['Hour','Comptage']]
    data = data.groupby('Hour').mean()
    data = data.reset_index()
    return px.bar(x=data['Hour'],y=data['Comptage'],title=name,height=500)

In [70]:
ipywidgets.interact(plot_moyenne_horaire,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …

In [71]:
def plot_volume_annuel(name):
    data = df.loc[df['Nom']==name,['Year','Comptage']]
    data = data.groupby('Year').sum()
    data = data.reset_index()
    return px.bar(x=data['Year'],y=data['Comptage'],title=name,height=500)

In [72]:
ipywidgets.interact(plot_volume_annuel,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …

In [73]:
def plot_volume_mensuel(name):
    data = df.loc[df['Nom']==name,['Month','Year','Comptage']]
    data = data.groupby(['Year','Month']).sum()
    data = data.reset_index()
    data['Month-Year'] = data['Month'].astype(str)+'-'+data['Year'].astype(str)
    return px.bar(x=data['Month-Year'],y=data['Comptage'],title=name,height=500)

In [74]:
ipywidgets.interact(plot_volume_mensuel,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …

In [76]:
def multiplot(name):
    for f in plot(name),plot_comptage_jour(name),plot_comptage_jour_de_la_semaine(name),plot_moyenne_horaire(name),plot_volume_annuel(name),plot_volume_mensuel(name):
        f.show()

ipywidgets.interact(multiplot,name=df['Nom'].unique())

interactive(children=(Dropdown(description='name', options=('Eco 24 - Pont Corneille ROUEN', "Eco 08 - Avenue …